/*
    IMPORT
*/

@import url('./fonts.css');

main {

    background: linear-gradient(to bottom, #f0f6ff 24.75%,#ffffff 24.75%);
    width: 100%;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.title h1 {
    font-family: 'Montserrat-ExtraBold';
    font-size: 1.5rem;
    color: #575859;
    text-transform: uppercase;   
    margin-left: 10px;
    margin-bottom: 20px;
    word-spacing: 5px;
}

.title img {
    width: 30px;
    height: 30px;
    padding: 10px;
    transform: scaleX(-1);
    border: 1px solid #575859;;
    border-radius: 50%;
}

.chapeau {
    background-color:#38435c;
    position: relative;
}

.chapeau__text{
    color: #ffda00;
    font-family: "OpenSans-SemiBold";
    font-size: 1.5rem;
    width:80%;
    padding: 10px;
}

.chapeau figure {
    background-color:#ffd500;
    width: 150px;
    height: 150px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    position: absolute;
    right:1rem;
    bottom:1rem;
    
}

.chapeau figure img {
    width: 30%;
}

.chapeau figcaption {
    padding:0 20%;
    text-align: center;
}

figcaption p {
    font-family: "Nunito-Bold";
    text-transform: uppercase;
    font-size: 1rem;
    color: #575859;
    border-bottom: 3px solid #575859;
    padding: 10px 0;
}

[alt = "photo1"]{
    margin-top: 10px;
}

.article__text p{
    font-family: "Nunito-Regular";
    font-size: 1rem;
    text-align: justify;
    margin: 20px 0;
}

.article__text p:first-child{
    font-weight: bold;
}

.share {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.share__rsn img {
    margin: 0 10px;
}

/* .share__rsn ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.share__rsn a {
    color: white;
    font-size: 0.8rem;
    font-family: "OpenSans-Bold";
    padding:10px;
}

.facebook{
    background-color: #39579a;
    margin: 10px 0;
}

.twitter {
    background-color: #00abf0;
}

.google {
    background-color: #df4a32;
}
 */

