/*
    IMPORT
*/

@import url('./fonts.css');

/*
    Actualité
*/

.actualite {
    background-color:#f0f6ff;
}
.content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto; 
    padding: 2.5rem 0;
}

.content h2 {
    font-family: "Montserrat-ExtraBold";
    font-size: 1.5rem;
    color: #575859;
    text-transform: uppercase;   
    margin-bottom: 20px;
    word-spacing: 5px;    
}

.content h2:before {
    content: "";
    display: block;
    width: 4rem;
    border-top: 3px solid #ffda00;
    padding-top: 10px;
}

.content h2 span {
    font-family: "OpenSans-Bold";
    text-transform: none;
    
}

.gallery {
    display:flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
}

.gallery__left {
    display:flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-wrap:wrap;
    align-items: center;
    
}

.gallery__left img{
    margin :5px;
}

.gallery__right {
    width: 100%;
}

.actualite__item {
    position:relative;
    width: 50%;
}

.actualite__item figcaption{
    background-color: #ffda00;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    width:80%;
    font-family: "OpenSans-SemiBold";
    font-size: 1rem;
    text-align: center;
}

.actualite__item .camera {
    width: auto;
    bottom: 35%;
    background-color: #ffd500;
}

.actualite__item .camera img{
    width: 2rem;
}

.journal{
    width: 2rem;
}



/*
    Discover
*/

.discover__item {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-between;
    align-items: center;
}

.discover__item figure {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    align-items: center;
}

.discover__item figure img {
    border: 10px solid #ffda00;
    border-radius: 50%;
    padding: 5px;
}

.discover__item figcaption {
    font-family: "OpenSans-SemiBold";
    font-size: 1.5rem;
    color: #575859;
}

.discover__item figcaption:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 4rem;
    border-bottom: 3px solid #575859;
    padding-bottom: 10px;
}



.discover__item img:last-child {
    width: 5%;
}



/*
    horsCourse
*/

.horsCourse {
    background-color:#f0f6ff;
}

.horsCourse__item {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-around;
    align-items: center;
}

.horsCourse__item figure {
    background-color:#ffd500;
    width: 240px;
    height: 240px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.horsCourse__item figcaption {
    text-align: center;
    
}

.horsCourse__item figcaption p {
    font-family: "Nunito-Bold";
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #575859;
    border-bottom: 3px solid #575859;
    padding: 10px 0;
}

.horsCourse__item figure:first-child {
    position:relative;

}

.horsCourse__item figure:first-child figcaption{
    position: absolute;
    background-color: #575859;
    bottom: 10px;
    right: 10px;
    left: 10px;;
}

.horsCourse__item figure:first-child figcaption p{
    color:white;
    font-size: 0.8rem;
}





/*
    Informations
*/

    .--modifier {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        
    }

    .nextRun {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-direction: column;
        flex:1;
    }

    .run {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        justify-content: space-between;
        width: 80%;
        margin: 5px 0;

    }

    .calendar {
        
    }

    .calendar__top {
        background-color:#ffd500;
        border: 0.5px solid #EFEFEF;
        border-bottom: none;
        text-align: center;
    }

    .calendar__top p{
        color: #575859;
        text-transform: uppercase;
        font-family: "OpenSans-Bold";
        font-size: 0.8rem;
        padding: 5px;
    }

    .calendar__bot {
        background-color:white;
        border: 0.5px solid #EFEFEF;
        text-align: center;
        border-top: none;
    }

    .calendar__bot p{
        color: #575859;
        text-transform: uppercase;
        font-family: "OpenSans-Bold";
        font-size: 1.5rem;
        padding: 5px 20px;
    }

    .runDescription {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        justify-content: space-around;
        align-items: center;
        background-color: #EFEFEF;
        width: 80%;
        
    }

    .runDescription p {
        font-family: "OpenSans-SemiBold";
        font-size: 1rem;
    }

    .runDescription span {
        width: 50%;
    }

    .runDescription>img {
        width: 5%;
    }

    .pays {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-direction: column;
        align-items: center;
    }

    .pays img {
        max-height: 50px;
    }

    .pays p {
        text-transform: uppercase;
        font-size: 0.5rem;
        font-family: "OpenSans-SemiBold";
        text-align: center;
    }



    .zoom {
        display:flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-direction: column;
        justify-content: center;
        flex:1;
    }

    .zoom p {
        font-family: "OpenSans-SemiBold";
        font-size: 1rem;
        margin: 10px 0;
    }

    .zoom img {
        width: 100%;
    }

    .nextRun .link{
        width: 80%;    
        
    }

    .link {
        text-align: right;
    }

    .link a {
        border-bottom: 3px solid #575859;
        font-family: "OpenSans-SemiBold";
        font-size: 0.8rem;
        color: #575859;
    }

/*
    Contact
*/