/*
    IMPORT
*/

@import url('./fonts.css');

/* Paramètres globaux du main avec background */
main {
    background-image: url('./../img/fondcercle');
    background-repeat: no-repeat;
    background-size: 100% 37.2%;
    width: 100%;
}

/* Paramètres du contenu global avec background */
.contentglobal{
    background-image: url('./../img/fondcercledeux');
    background-repeat: no-repeat;
    background-position: 0px 100%;
    background-size: 100% 33.5%;
}

/* Paramètres de la zone global de contenu */
.content {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2.5rem 0;
}

/* Paramètres de la barre précédent le titre */
.content h2:before {
    content: "";
    display: block;
    width: 4rem;
    border-top: 3px solid #ffda00;
    padding-top: 10px;
}

/* Paramètres du titre */
.content h2 {
    font-family: "Montserrat-ExtraBold";
    font-size: 1.5rem;
    color: #575859;
    text-transform: uppercase;   
    margin-bottom: 20px;
    word-spacing: 5px;    
}

/* Pour chaque ligne/section de la page */

/* Paramètres de chaque section*/
.line {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Paramètres de chaque élément de chaque section */
.line figure {
    background-color:#ffd500;
    width: 225px;
    height: 225px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Paramètres du contenu de chaque élément */
.line figcaption {
    text-align: center;
}

/* Paramètres du texte de chaque élément */
.line figcaption p {
    font-family: "Nunito-Bold";
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #575859;
    border-bottom: 3px solid #575859;
    padding: 10px 0;
}

/* Paramètres du texte du premier élément de la deuxième section */
.content:nth-child(2) figure:first-child figcaption p{
    margin: 0 auto;
    width: 70%;
}

/* Paramètres du texte du premier élément de la troisième section */
.content:nth-child(3) figure:first-child figcaption p{
    margin: 0 auto;
    width: 70%;
}

/* Paramètres de chaque élément de chaque section excepté le premier */
.line figure:not(.iconeline) {
    position:relative;
}

/* Paramètres du contenu de chaque élément de chaque section excepté le premier */
.line figure:not(.iconeline) figcaption{
    position: absolute;
    background-color: #575859;
    bottom: 10px;
    right: 10px;
    left: 10px;;
}

/* Paramètres du texte du contenu de chaque élément de chaque section excepté le premier */
.line figure:not(.iconeline) figcaption p{
    color:white;
    font-size: 0.8rem;
}

/* Paramètres des images de chaque section excepté la première */
.line figure:not(.iconeline) img{
    width: 91%;
}

/* Paramètres de la première image de chaque section */
.line img:last-child {
    width: 5%;
}