/*
    IMPORT
*/

@import url('./fonts.css');

main {
    /*margin: 0 auto;*/
    width: 100%;
    /*max-width: 1000px;*/
    /*position: relative;*/
    /*background: linear-gradient(to bottom, #f0f6ff 24.75%,#ffffff 24.75%);*/
    background-image: url("./../img/fondcercle.png");
    background-repeat: no-repeat;
    background-size: 100% 566px;
}


.contentglobal{
    margin: 0 auto;
    max-width: 1000px;
    width: 95%;
}

.contentteam{
    margin: 0 auto;
    width: 90%;
    padding: 2.5rem 0;
    z-index: 2;
}

.contentteam h2{
    font-family: 'Montserrat-ExtraBold';
    font-size: 1.5rem;
    color: #575859;
    text-transform: uppercase;   
    margin-bottom: 20px;
    word-spacing: 5px;
}

.contentteam h2:before{
    content: "";
    display: block;
    width: 4rem;
    border-top: 3px solid #ffda00;
    padding-top: 10px;
}

.contentteam figure{
    margin-top: 15px;
    margin-bottom: 15px;
}

.contenttop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contentbot{
    display: flex;
    flex-direction: row;
}

.contentteam figcaption {
    text-align: center;
    font-family: 'Nunito-Bold';
    font-size: 1.2rem;
    color: #575859;
}

.contentteam figcaption:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 2.5rem;
    border-bottom: 2px solid #575859;
    padding-bottom: 10px;
}