/*
    IMPORT
*/

@import url('./fonts.css');

/* Paramètres du main avec background*/
main {
    width: 100%;
    background-image: url("./../img/fondcercle.png");
    background-repeat: no-repeat;
    background-size: 100% 566px;
}

/* Paramètres de la zone global */
.contentglobal{
    margin: 0 auto;
    max-width: 1000px;
    width: 95%;
}

/* Paramètres globaux de la zone comportant du contenu*/
.contentteam{
    margin: 0 auto;
    width: 90%;
    padding: 2.5rem 0;
    z-index: 2;
}


/* Paramètres de marge */
.contentteam figure{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Paramètres des coureurs étant sur une ligne de 4 */
.contenttop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Paramètres des deux derniers coureurs */
.contentbot{
    display: flex;
    flex-direction: row;
}

/* Paramètres des noms des coureurs */
.contentteam figcaption {
    text-align: center;
    font-family: 'Nunito-Bold';
    font-size: 1.2rem;
    color: #575859;
}

/* Paramètres du trait noir en dessous du nom des coureurs*/
.contentteam figcaption:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 2.5rem;
    border-bottom: 2px solid #575859;
    padding-bottom: 10px;
}