/*
    IMPORT
*/

@import url('./../fonts.css');


#footer1{
    display: flex;
    justify-content: center; 
    background-color: #38435b;
}

footer .content{
    display: flex;
    justify-content: center; 
}
  
#Xavier_1 {
    display: flex;
    width: 35%;
    height: 50%; 
    font-family: "Montserrat-Light";
    color: aliceblue; 
    margin-left: 2%; 
}
#Jean_Rene{
    display: flex;
    width: 40%;
    height: 60%;  
    font-family: "Montserrat-Light";
    color: aliceblue; 
}

h4 {
    color: aliceblue;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    font-family: 'Montserrat-Bold';
}


.PDG {
    color: #ffda00;
}


.imagefoot {
    height: 142%;
    width: 25%;
    border: solid 4px #ffda00; 
    border-radius: 100%; 
}


#footer2{
    height: 40%;
    background-color: #2f3749; 
}
.para{
    margin-top: 4%; 
}

.art_1{
    margin-left: 4%; 
    margin-right: 2%; 
}

.lire_suite{
    display: flex; 
    border:solid thin #ffda00; 
    background-color: transparent; 
    font-family: "Montserrat-Light";
    font-size: 10px; 
    color: #ffda00;
    justify-content: flex-end; 
    margin-left: 60%;  
    padding: 2%; 
    padding-left: 5%; 
    padding-right: 5%; 
    margin-top: 2%; 
}