/*
    IMPORT
*/

@import url('./../fonts.css');

.contact {
    width: 60%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    background-color: #f0f6ff;
}

.contact img {
    width: 15%;
    height: auto;
}

.slogan {
    width: 40%;
    font-family: "OpenSans-Bold";
    text-align: center;
    font-size: 1rem;
}

.slogan p:last-child {
    margin-top: 20px;
    font-family: "OpenSans-SemiBold";
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f3749;
    color: #ffda00;
    padding: 10px;
}

.phone p {
    font-family: 'OpenSans-SemiBold';
    font-size: 1rem;
}

.phone p:nth-child(2) {
    font-size: 1.5rem;
    font-family: 'OpenSans-Bold';
}


/*
*
* -------------------------------------------- Footer ------------------------------------------
*
*/



/*
*Premier footer, avec les noms des PDG et Manager
*/

.content_footer {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
}

/*
*Deuxième footer avec les newsletter, réseaux sociaux, kit de presse 
*/
.content_footer2 {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;


}




/*
* -------------------------------------------- Premier footer ------------------------------------------
*/


#footer1 {
    display: flex;
    justify-content: center;
    background-color: #38435b;
}

/*
* Div concernant Xavier
*/ 
#Xavier_1 {
    display: flex;
    width: 35%;
    height: 50%;
    font-family: "Montserrat-Light";
    color: aliceblue;
}

/*
* Div concernant Jean Rene 
*/
#Jean_Rene {
    display: flex;
    width: 35%;
    height: 50%;
    font-family: "Montserrat-Light";
    color: aliceblue;
}

/*
* Redimension des photos 
*/ 
.imagefoot {
    height: 150%;
    width: 25%;
    border: solid 4px #ffda00;
    border-radius: 100%;
}

/*
* Div avec les légendes des photos
*/ 
.art_1 {
    margin-left: 4%;
    margin-right: 2%;
}

/*
* Titre des légendes des photos 
*/ 
h4 {
    color: aliceblue;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    font-family: 'Montserrat-Bold';
}

/*
*PDG et Manager en jaune 
*/ 
.PDG {
    color: #ffda00;
}

/*
*Paragraphe 
*/
.para {
    margin-top: 4%;
    font-family: "Nunito-Regular";
    font-size: 115%;
}

/*
* Bouton lire la suite 
*/
.lire_suite {
    display: flex;
    border: solid thin #ffda00;
    background-color: transparent;
    font-family: "Montserrat-Light";
    font-size: 10px;
    color: #ffda00;
    justify-content: flex-end;
    margin-left: 60%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}

/* 
* ----------------------------------------- Deuxième footer ------------------------------------------
*/

#footer2 {
    background-color: #2f3749;
    color: white;

}

/*
* Titre NEWSLETTER etc...
*/
.content_footer2 section h2 {
    font-family: "Montserrat-ExtraBold";
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    word-spacing: 5px;
}

/*
* Trait au dessus des titres
*/ 
.content_footer2 section h2:before {
    content: "";
    display: block;
    width: 3rem;
    border-top: 3px solid #ffda00;
    padding-top: 10px;
}

/*
* S'applique sur les sections du deuxième footer 
*/ 
.content_footer2 section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 70%;
}

/*
* S'applique sur les légendes des logos des réseaux sociaux 
*/
.content_footer2 figcaption {
    font-family: "Montserrat-Light";
    margin-left: 10%;
}

.content_footer2 section p {
    font-family: "Nunito-Regular";
    font-size: 0.8rem;
    width: 50%;
}
/*
* Redimension des logos
*/

.content_footer2 img {
    width: 22px;
    

}
 /*
 * Redimension des logos facebook et instagram 
 */ 
.content_footer2 img[alt~="facebook"] {
    width: 12px;
}

.content_footer2 img[alt~="instagram"] {
    width: 18px;
}

/*
* Div contenant les logos des réseaux sociaux 
*/ 

.reseau {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 70%;
}

/*
* S'applique sur les figures de la div reseau
*/ 

.reseau figure {
    width: 20%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /*
 * Redimension de l'ecriture facebook et google afin de forcer le flex wrap 
 */ 
.fb {
    padding-left: 10%;
    margin: 5%;
}

.gg {
    margin: 5%;
    padding-left: 10%;
}

/*
* Modification des couleurs des boutons et textarea email et submit 
*/ 
input[type="submit"],
input[type="email"] {
    border: solid thin white;
    padding: 4%;
    background-color: transparent;
    margin-top: 3%;
    color: white;
}

input[type="email"] {
    width: 45%;
    background-color: #3c465f;
}
/*
* Div contenant le bouton pour télécharger un pdf
*/ 
.pdf{
    display:flex; 
    width: 50%; 
    align-items: flex-start; 
    border: solid thin white;
    background-color: transparent;
    margin-top: 3%;
    color: white;
    padding: 3%; 
    
}
/*
* Bouton Télécharger un pdf 
*/ 
#doss{
    display: flex; 
    color: white;
    font-family: "Montserrat-Light";
    padding-left:6%; 

}

/*
* Dernier footer avec les mentions légales
*/

.mentions {
    text-align: center;
    border-top: 3px solid #ffda00;
}

#mentions{
    display: flex; 
    justify-content: center; 
}
/*
* Permet de faire la barre entre Mentions Légales et Création du site 
*/ 
#ff{
    color: aliceblue; 
    margin: 1%; 
    padding-left: 1%; 
    border-left: solid thin white;
    word-spacing: 1px;
    font-family: "Montserrat-Light";
}

/*
* Permet de ne pas avoir la barre du border left 
*/ 
#f1{
    color: aliceblue; 
    margin-top: 1%; 
    word-spacing: 1px;
    font-family: "Montserrat-Light";
}