/*
    IMPORT
*/

@import url('./../fonts.css');

.contact{
    width: 60%;
    margin: 4rem auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    
}

.contact img {
    width: 15%;
    height: auto;
}

.slogan {
    width: 40%;
    font-family: "OpenSans-Bold";
    text-align: center;
    font-size: 1rem;
}

.slogan p:last-child {
    margin-top:20px;
    font-family: "OpenSans-SemiBold";
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f3749;
    color: #ffda00;
    padding:10px;
}

.phone p {
    font-family: 'OpenSans-SemiBold';
    font-size: 1rem;
}

.phone p:nth-child(2) {
    font-size: 1.5rem;
    font-family: 'OpenSans-Bold';
}


#footer1{
    display: flex;
    justify-content: center; 
    background-color: #38435b;
}

.content2{
    width: 65%;
    margin: 0 auto; 
    padding: 2.5rem 0;
    display: flex;
    justify-content: center; 
}
  
#Xavier_1 {
    display: flex;
    width: 35%;
    height: 50%; 
    font-family: "Montserrat-Light";
    color: aliceblue; 
    margin-left: 2%; 
}
#Jean_Rene{
    display: flex;
    width: 40%;
    height: 60%;  
    font-family: "Montserrat-Light";
    color: aliceblue; 
}

h4 {
    color: aliceblue;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    font-family: 'Montserrat-Bold';
}


.PDG {
    color: #ffda00;
}


.imagefoot {
    height: 142%;
    width: 25%;
    border: solid 4px #ffda00; 
    border-radius: 100%; 
}


#footer2{
    height: 40%;
    background-color: #2f3749; 
}
.para{
    margin-top: 4%; 
}

.art_1{
    margin-left: 4%; 
    margin-right: 2%; 
}

.lire_suite{
    display: flex; 
    border:solid thin #ffda00; 
    background-color: transparent; 
    font-family: "Montserrat-Light";
    font-size: 10px; 
    color: #ffda00;
    justify-content: flex-end; 
    margin-left: 60%;  
    padding: 2%; 
    padding-left: 5%; 
    padding-right: 5%; 
    margin-top: 2%; 
}

.content3{
    display: flex; 
    justify-content: space-around;
    width: 65%;
    margin: 0 auto; 
    padding: 2.5rem 0; 
}

.foot{
    display: flex;
    justify-content: flex-start;  
    color: aliceblue; 
    font-size: 90%;  
    margin-right: 30%; 
}

h2{
    font-family: 'Montserrat-Bold';
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    font-size: 200%;
}