/*
    IMPORT
*/

@import url('./../fonts.css');



nav{
    background-color: rgb(255, 0, 0);
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}