/*
    IMPORT
*/

@import url('./../fonts.css');


nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Nunito-Regular';
    font-size: 0.9rem;
}

header nav{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:not(.logoheader):hover{
    border-bottom: 3px solid rgb(255, 210, 0);
}
/*.menu :hover{
    border-bottom: 3px solid rgb(255, 210, 0);
}*/
/*nav a:active{
    border-bottom: 3px solid rgb(255, 210, 0);
}*/

